.wrapper{
    min-height: calc(100vh - 72px);
    top: 72px;
    overflow: scroll;
    min-width: 100vw;
    position: fixed;
}

.container{
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
}

.page_body{
    flex: 1;
}